{% extends "downloader/base.html" %} 
{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4">
                <h2 class="text-center mb-4">Iniciar Sesión</h2>
                
                <form method="post">
                    {% csrf_token %}
                    
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            Nombre de usuario o contraseña incorrectos. Por favor, inténtalo de nuevo.
                        </div>
                    {% endif %}
                    
                    {{ form|crispy }} 
                    
                    <button type="submit" class="btn btn-outline-secondary btn-lg w-100 mt-4">
                        Entrar
                    </button>
                </form>
                
                <p class="text-center mt-3">
                    ¿No tienes cuenta? <a href="{% url 'signup' %}">Crear Cuenta y Probar Gratis</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
